body {
  background-color: #efefef;
  font-family: "Roboto", sans-serif;
  color: #333333;
  font-size: 14px;
}
.wrapper-header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1110px;
  height: 50px;
  margin: 0 auto;
}
.nav-top {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav-top > li {
  margin-right: 30px;
}
.nav-top > li:last-child {
  margin-right: 0;
}
.nav-top > li > a {
  text-decoration: none;
  color: #333333;
  transition: 0.2s ease-out;
}
.nav-top > li > a:hover {
  text-decoration: none;
  color: #adadad;
}
.header {
  background-color: #fff;
}
.wrapper-bg-white-header-top {
  display: flex;
  justify-content: center;
  max-width: 1110px;
  margin: 0 auto;
}
.header-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.logo {
  display: flex;
  color: #66c05d;
  font-size: 36px;
  font-weight: 700;
  align-items: center;
}
.logo > a:first-child {
  width: 80px;
  height: 80px;
}
.logo-text {
  color: #66c05d;
  margin-left: 20px;
  text-decoration: none;
  letter-spacing: 4px;
}
.header-info span {
  font-size: 16px;
  margin-right: 38px;
}
.callback {
  width: 170px;
  font-size: 14px;
  border-radius: 40px;
  border: 2px solid #66c05d;
  background-color: transparent;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.2s ease;
}
.callback:hover {
  background-color: #66c05d;
  color: #fff;
}
.nav-bottom {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding: 30px 0;
  margin: 0;
}
.nav-bottom > li {
  margin: 0 40px 0 0;
}
.nav-bottom > li:last-child {
  margin: 0;
}
.nav-bottom > li > a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  transition: 0.2s ease-out;
}
.nav-bottom > li > a:hover {
  color: #adadad;
}
hr {
  margin: 0;
  border: none;
  background-color: #efefef;
}
.banner {
  display: flex;
  background-image: url(assets/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 604px;
}
.wrapper-banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1110px;
  margin: 0 auto;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 219px;
  width: 308px;
}
.title {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}
.subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
.banner-btn {
  width: 170px;
  height: 40px;
  font-size: 14px;
  border-radius: 40px;
  border: 2px solid #fff;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  transition: 0.2s ease;
  letter-spacing: 1px;
}
.banner-btn:hover {
  background-color: #fff;
  color: #333333;
}
.catalog {
  padding-top: 60px;
}
.catalog-wrapper {
  max-width: 1110px;
  margin: 0 auto;
}
.bg-white {
  background-color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 19px 30px;
  margin-bottom: 132px;
}
.title-h2 {
  font-size: 24px;
  font-weight: 700;
}
.grid-item-title {
  grid-column: 1/4;
  grid-row: 1/2;
}
.grid-item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 4/5;
  grid-row: 1/2;
}
.grid-title {
  line-height: 20px;
  margin-top: 15px;
  margin-bottom: 16px;
}
.grid-price {
  font-size: 21px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 14px;
  letter-spacing: 1px;
}
.thumb-btn {
  box-sizing: border-box;
  width: 130px;
  height: 35px;
  font-size: 14px;
  border-radius: 30px;
  border: 2px solid transparent;
  background-color: #66c05d;
  cursor: pointer;
  color: #fff;
  transition: 0.2s ease;
  letter-spacing: 1px;
}
.thumb-btn:hover {
  background-color: transparent;
  border: 2px solid #66c05d;
  color: #333333;
}
.grid-item-left {
  grid-column: 1/3;
  grid-row: 3/4;
  margin-top: 80px;
}
.grid-item-right {
  grid-column: 3/5;
  grid-row: 3/4;
  margin-top: 80px;
}
.grid-item-catalog {
  text-align: center;
}
.grid-item-catalog .bg-white {
  padding: 25px 30px;
}
.price {
  font-size: 21px;
  font-weight: 500;
}
.bg-green {
  background-color: #66c05d;
  color: #fff;
  padding: 35px 45px 35px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bg-green h3 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 22px;
}
.bg-green p {
  margin-top: 0;
  margin-bottom: 25px;
  line-height: 20px;
}
.bg-green input {
  box-sizing: border-box;
  font-size: 14px;
  border: none;
  width: 225px;
  height: 35px;
  border-radius: 30px;
  padding: 0 0 0 25px;
}
.grid-item-left .bg-green-item:last-child {
  height: 140px;
}
.map-btn {
  width: 170px;
  height: 35px;
  font-size: 14px;
  border-radius: 40px;
  border: 2px solid #fff;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  transition: 0.2s ease;
}
.map-btn:hover {
  background-color: #fff;
  color: #333333;
}
.footer-top {
  background-color: #fff;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-top__wrapper {
  width: 1110px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.contacts {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.contacts {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.contacts > li {
  margin-right: 20px;
}
.contacts > li:last-child {
  margin: 0;
}
.contacts-link {
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #66c05d;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.contacts-link:hover {
  background-color: #efefef;
}
.contacts-youtube {
  background-image: url(assets/youtube.svg);
}
.contacts-vk {
  background-image: url(assets/vk.svg);
}
.contacts-facebook {
  background-image: url(assets/facebook.svg);
}
.contacts-instagram {
  background-image: url(assets/instagram.svg);
}
.footer-top__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-top__info > span {
  margin-right: 105px;
}
.footer-bottom__wrapper {
  width: 1110px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 64px;
  color: #828282;
  position: relative;
}
.footer-bottom__wrapper_contacts {
  display: flex;
  align-items: center;
}
.my-contacts {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.my-contacts > li:first-child {
  margin-left: 20px;
}
.my-contacts > li {
  margin-left: 10px;
}
.my-contacts > li > a {
  text-decoration: none;
  color: #828282;
}
.draft {
  position: absolute;
  right: 0;
  text-decoration: none;
  color: #66c05d;
  font-size: 18px;
  justify-self: right;
  padding: 10px 10px;
  border-radius: 10px;
  transition: 0.2s ease-in;
}
.draft:hover {
  background-color: #fff;
}
