body {
  background-color: #efefef;
  font-family: "Roboto", sans-serif;
  color: #333333;
  font-size: 14px;
}
.wrapper-header {
  display: flex;
  justify-content: center;
  max-width: 1110px;
  margin: 0 auto;
}
.nav-top {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  width: 447px;
}
.nav-top > li {
  margin: 0;
}
.nav-top > li > a {
  text-decoration: none;
  color: #333333;
}
.header {
  background-color: #fff;
}
.wrapper-bg-white-header-top {
  display: flex;
  justify-content: center;
  max-width: 1110px;
  margin: 0 auto;
}
.header-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.logo {
  color: #66c05d;
  font-size: 36px;
  font-weight: 700;
}

.header-info span {
  font-size: 16px;
  margin-right: 40px;
}
.header-info button {
  font-size: 14px;
  border-radius: 40px;
  border: 2px solid #66c05d;
  background-color: transparent;
  padding: 10px 15px;
  cursor: pointer;
}
.nav-bottom {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 30px 0;
  margin: 0;
}
.nav-bottom > li {
  margin: 0 30px;
}
.nav-bottom > li > a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
hr {
  margin: 0;
  border: none;
  background-color: #efefef;
}
.banner {
  display: flex;
  background-image: url(assets/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 604px;
}
.wrapper-banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1110px;
  margin: 0 auto;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 219px;
  width: 308px;
}
.title {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}
.subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
.banner button {
  width: 170px;
  font-size: 14px;
  border-radius: 40px;
  border: 2px solid #fff;
  background-color: transparent;
  padding: 10px 15px;
  cursor: pointer;
  color: #fff;
}
